@model AdilBank.Repositories.BankRepository

@{
    ViewData["Title"] = "Adils Bank";
}

<div>
    @foreach (var account in Model.Accounts)
    {
        <h3>@account.Customer.Name</h3>
        <h4>@account.Name</h4>
        <h4>@account.Balance</h4>

    }
</div>